@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  background: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

main {
  width: 650px;
  min-height: 400px;
  display: flex;
}

.photo {
  width: 350px;
  background-image: url(../images/image-product-desktop.jpg);
  background-size: cover;
  background-repeat: repeat;
  border-radius: 14px 0 0 14px;
}

.content {
  width: 300px;
  background: hsl(0, 0%, 100%);
  border-radius: 0 14px 14px 0;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.content h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 7px;
  color: hsl(228, 12%, 48%);
}

.content h1 {
  font-family: "Fraunces", serif;
  color: hsl(212, 21%, 14%);
  font-size: 42px;
  margin: 0;
  line-height: 1;
}

.content p {
  font-weight: 500;
  line-height: 1.5;
  color: hsl(hue, saturation, lightness);
}

.content div {
  display: flex;
  align-items: center;
  gap: 14px;
}

.content span {
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.content s {
  color: hsl(228, 12%, 48%);
}

.content button {
  background: hsl(158, 36%, 37%);
  border-width: 0;
  font-weight: 700;
  width: 100%;
  padding: 14px 28px;
  border-radius: 7px;
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 28px;
  cursor: pointer;
}

.content button:hover {
  background: hsl(158, 35%, 18%);
}
